.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.contact-col {
  color: black;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding-left: 7rem;
}

.link-contact {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.pink-bar {
  position: relative;
}

.pink-bar::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -6rem;
  border-top: 4px solid #FFACAC;
  width: 5rem;
}

.pink-barLinkedIn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -6rem;
  border-top: 4px solid #FFACAC;
  width: 5rem;
}

.pinkbar {
  padding-left: 0.5rem;
  position: relative;
}

.pink-bar a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
  .contact-row {
    flex-direction: column;
  }

  .contact-col {
    font-size: 1rem;
  }

  .pink-bar::before {
    display: none;
  }

  .pink-barLinkedIn::before {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) and (orientation: portrait) {
  .contact-row {
    flex-direction: column;
  }

  .contact-col {
    font-size: 1rem;
  }

  .pink-bar::before {
    display: none;
  }

  .pink-barLinkedIn::before {
    display: none;
  }
}