@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4 {
  font-family: "Nova Mono", monospace;
}

.strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.headerBG {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.headerBubble {
  width: 100%;
  height: 100%;
  background: #011638;
  margin: 0px;
  padding: 0px;
}

.headerBubble span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.headerBubble span:nth-child(1) {
  color: #757083;
  top: 39%;
  left: 78%;
  animation-duration: 31.7s;
  animation-delay: -56.6s;
  transform-origin: 5vw 7vh;
  box-shadow: 40vmin 0 8.9055005667vmin currentColor;
}
.headerBubble span:nth-child(2) {
  color: #FFACAC;
  top: 50%;
  left: 5%;
  animation-duration: 89.5s;
  animation-delay: -67.5s;
  transform-origin: -17vw 4vh;
  box-shadow: 40vmin 0 8.9923141268vmin currentColor;
}
.headerBubble span:nth-child(3) {
  color: #FFACAC;
  top: 87%;
  left: 43%;
  animation-duration: 42.3s;
  animation-delay: -77.4s;
  transform-origin: -6vw -19vh;
  box-shadow: -40vmin 0 6.9976500093vmin currentColor;
}
.headerBubble span:nth-child(4) {
  color: #757083;
  top: 54%;
  left: 89%;
  animation-duration: 104.3s;
  animation-delay: -60.1s;
  transform-origin: 9vw 8vh;
  box-shadow: -40vmin 0 12.3470803363vmin currentColor;
}
.headerBubble span:nth-child(5) {
  color: #a7c4c2;
  top: 11%;
  left: 40%;
  animation-duration: 94.1s;
  animation-delay: -51s;
  transform-origin: 2vw 8vh;
  box-shadow: 40vmin 0 14.1052970776vmin currentColor;
}
.headerBubble span:nth-child(6) {
  color: #757083;
  top: 50%;
  left: 52%;
  animation-duration: 23.1s;
  animation-delay: -58.3s;
  transform-origin: -11vw -18vh;
  box-shadow: 40vmin 0 9.5039702359vmin currentColor;
}
.headerBubble span:nth-child(7) {
  color: #757083;
  top: 85%;
  left: 41%;
  animation-duration: 73.4s;
  animation-delay: -38.4s;
  transform-origin: -11vw -1vh;
  box-shadow: -40vmin 0 13.5349570608vmin currentColor;
}
.headerBubble span:nth-child(8) {
  color: #757083;
  top: 73%;
  left: 70%;
  animation-duration: 95.9s;
  animation-delay: -75.5s;
  transform-origin: -15vw 17vh;
  box-shadow: -40vmin 0 5.6121217247vmin currentColor;
}
.headerBubble span:nth-child(9) {
  color: #a7c4c2;
  top: 60%;
  left: 85%;
  animation-duration: 90.3s;
  animation-delay: -67.4s;
  transform-origin: -6vw 10vh;
  box-shadow: -40vmin 0 8.3259782006vmin currentColor;
}
.headerBubble span:nth-child(10) {
  color: #757083;
  top: 98%;
  left: 63%;
  animation-duration: 107.3s;
  animation-delay: -46.5s;
  transform-origin: -2vw -18vh;
  box-shadow: 40vmin 0 13.423101314vmin currentColor;
}
.headerBubble span:nth-child(11) {
  color: #FFACAC;
  top: 3%;
  left: 58%;
  animation-duration: 93.4s;
  animation-delay: -42.1s;
  transform-origin: -11vw 15vh;
  box-shadow: 40vmin 0 9.0821074277vmin currentColor;
}
.headerBubble span:nth-child(12) {
  color: #FFACAC;
  top: 95%;
  left: 89%;
  animation-duration: 107.2s;
  animation-delay: -102.2s;
  transform-origin: -6vw -13vh;
  box-shadow: -40vmin 0 13.1589740992vmin currentColor;
}
.headerBubble span:nth-child(13) {
  color: #a7c4c2;
  top: 6%;
  left: 35%;
  animation-duration: 46.1s;
  animation-delay: -82.6s;
  transform-origin: 15vw 4vh;
  box-shadow: -40vmin 0 7.5777113781vmin currentColor;
}
.headerBubble span:nth-child(14) {
  color: #a7c4c2;
  top: 27%;
  left: 32%;
  animation-duration: 75.4s;
  animation-delay: -37.1s;
  transform-origin: -16vw -1vh;
  box-shadow: -40vmin 0 7.240676196vmin currentColor;
}
.headerBubble span:nth-child(15) {
  color: #757083;
  top: 12%;
  left: 12%;
  animation-duration: 88.5s;
  animation-delay: -95s;
  transform-origin: 4vw 23vh;
  box-shadow: 40vmin 0 9.6024979145vmin currentColor;
}
.headerBubble span:nth-child(16) {
  color: #a7c4c2;
  top: 18%;
  left: 62%;
  animation-duration: 18.7s;
  animation-delay: -75.4s;
  transform-origin: -15vw 9vh;
  box-shadow: 40vmin 0 10.9447682166vmin currentColor;
}
.headerBubble span:nth-child(17) {
  color: #FFACAC;
  top: 16%;
  left: 30%;
  animation-duration: 44s;
  animation-delay: -59.4s;
  transform-origin: -5vw 14vh;
  box-shadow: -40vmin 0 14.2085102645vmin currentColor;
}
.headerBubble span:nth-child(18) {
  color: #757083;
  top: 27%;
  left: 15%;
  animation-duration: 16.7s;
  animation-delay: -4.5s;
  transform-origin: 23vw 21vh;
  box-shadow: 40vmin 0 7.7495459936vmin currentColor;
}
.headerBubble span:nth-child(19) {
  color: #757083;
  top: 8%;
  left: 15%;
  animation-duration: 70.3s;
  animation-delay: -89.8s;
  transform-origin: 21vw 4vh;
  box-shadow: 40vmin 0 5.0527327932vmin currentColor;
}
.headerBubble span:nth-child(20) {
  color: #a7c4c2;
  top: 6%;
  left: 78%;
  animation-duration: 10.6s;
  animation-delay: -5.7s;
  transform-origin: 16vw 0vh;
  box-shadow: -40vmin 0 13.0876903272vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.titleHeader {
  position: relative;
}

.title-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

img {
  width: 17rem;
  background-color: #75708344;
}

.header-presentation {
  position: relative;
  font-size: 0.5rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.slide-text {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.slide-container {
  margin-top: 7rem;
  background-color: #7570836b;
  width: 40rem;
  height: 25rem;
  border-radius: 50%;
  position: relative;
  animation: bounce 3s;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1) translateX(1100px);
  }
  10% {
    -webkit-transform: scaleY(0.95) scaleX(1.25);
    transform: scaleY(0.95) scaleX(1.25);
  }
  30% {
    -webkit-transform: scaleY(1.2) scaleX(0.9);
    transform: scaleY(1.2) scaleX(0.9);
  }
  35% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }
  40% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hello {
  font-size: 1.8rem;
  font-family: "Nova Mono", monospace;
}

@media screen and (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
  .title-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .titleName, .subtitle {
    text-align: center;
  }

  .titleName {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  img {
    width: 14rem;
  }

  .slide-text {
    font-size: 1.1rem;
  }

  .slide-container {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 920px) and (orientation: portrait) {
  .title-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .header-presentation {
    margin-top: 3em;
  }

  .slide-text {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 920px) and (max-width: 1280px) {
  .title-container {
    padding-top: 1.8rem;
    padding-bottom: 2rem;
  }

  .slide-text {
    font-size: 1.1rem;
  }

  .slide-container {
    margin-top: 2rem;
  }
}